body {
	margin: 20px;
	font-family: sans-serif;
}

#myChart {
	width: 100% !important;
	height: auto;
}

.red {
	color: red;
}

.green {
	color: green;
}

.table-font {
	font-size: 0.85rem !important;
}

.flex-nav {
	display: flex;
	flex-direction: row;
	margin: 20px 0;
}

.nav-item {
	font-size: 0.85rem !important;
	padding: 10px 20px;
	border-bottom: 3px solid #d6d6d6;
}

.nav-item > a {
	color: #444444;
}

.nav-item-selected {
	font-weight: bold;
	border-bottom: 3px solid #328eda;
}

.nav-item > a {
	text-decoration: none;
}

#current {
	margin: 0;
	display: inline;
}

.font-small {
	font-size: 00.85rem !important;
}

.table-heading {
	font-size: 0.85rem !important;
	font-weight: 200 !important;
}
