{% extends 'base.html' %}

<!-- prettier-ignore -->
{% block head %}

{% if data %}
<title>
	{{ data.symbol }} {{ data.regularMarketPrice }} ({{ "%.2f"|format((1 -
	(data.regularMarketPreviousClose / data.regularMarketPrice)) * 100) }}%)
</title>
{% endif %}

<!-- prettier-ignore -->
{% if error %}

<title>Error!</title>

{% endif %}

<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block body %}

<div class="mt-4">
	<form action="/" method="POST" id="myForm">
		<div class="mb-3 row justify-content-center">
			<div class="col-sm-4">
				<input
					class="form-control"
					type="text"
					name="symbol"
					placeholder="search for symbols (aapl, msft, tsla, ...)"
					aria-label="default input example"
				/>
			</div>

			<button type="submit" class="col-sm-1 btn btn-dark">
				<i class="bi bi-search pe-1"></i>
			</button>
		</div>
		<!-- prettier-ignore -->
		{% if error %}
		<p class="error text-center fs-6 fw-bold text-danger">{{ error }}</p>
		<!-- prettier-ignore -->
		{% endif %}
	</form>
</div>

{% if data %}

<div class="row align-items-start mt-4">
	<div class="col-2">
		<img src="{{ data.logo_url }}" />
	</div>
	<div class="col">
		<p id="symbol" style="display: none">{{ data.symbol }}</p>
		<p class="fw-bold fs-6">{{ data.shortName }} ({{ data.symbol }})</p>
		<div class="fw-bold fs-2">
			<span id="market-price" class="fw-bolder"
				>{{ data.regularMarketPrice }}</span
			>
			<p id="current" class="fs-5">
				(<span id="current-percent"
					>{{ "%.2f"|format((1 - (data.regularMarketPreviousClose /
					data.regularMarketPrice)) * 100) }}</span
				>%)
			</p>
		</div>
	</div>
</div>
<div class="flex-nav offset-2">
	<div class="nav-item" id="summary">
		<a href="/?symbol={{data.symbol}}">Summary</a>
	</div>
	<div class="nav-item" id="holders">
		<a href="/holders?symbol={{data.symbol.lower()}}">Holders</a>
	</div>
	<div class="nav-item" id="profile">
		<a href="/profile?symbol={{data.symbol.lower()}}">Profile</a>
	</div>
</div>

{% block content scoped%}

<div class="row align-items-start mt-4">
	<div class="col">
		<div class="row">
			<div class="col">
				<table class="table table-font">
					<tbody>
						<tr>
							<td>Previous close</td>
							<td class="fw-bold text-end">
								{{ data.regularMarketPreviousClose }}
							</td>
						</tr>

						<tr>
							<td>Open</td>
							<td class="fw-bold text-end">{{ data.regularMarketOpen }}</td>
						</tr>

						<tr>
							<td>Bid</td>
							<td class="fw-bold text-end">{{ data.bid }}</td>
						</tr>

						<tr>
							<td>Ask</td>
							<td class="fw-bold text-end">{{ data.ask }}</td>
						</tr>

						<tr>
							<td>Day's range</td>
							<td class="fw-bold text-end">
								{{ data.regularMarketDayLow }} - {{ data.regularMarketDayHigh }}
							</td>
						</tr>

						<tr>
							<td>52 week range</td>
							<td class="fw-bold text-end">
								{{ data.fiftyTwoWeekLow }} - {{ data.fiftyTwoWeekHigh }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col">
				<table class="table table-font">
					<tbody>
						<tr>
							<td>Market cap</td>
							<td class="fw-bold text-end" id="market-cap">
								{{ data.marketCap }}
							</td>
						</tr>

						<tr>
							<td>Volume</td>
							<td class="fw-bold text-end">{{ '{:,}'.format(data.volume) }}</td>
						</tr>

						<tr>
							<td>Average volumne</td>
							<td class="fw-bold text-end">
								{{ '{:,}'.format(data.averageVolume) }}
							</td>
						</tr>

						<tr>
							<td>Dividend yeild</td>
							<td class="fw-bold text-end">
								{% if data.dividendYield %} {{ "%.2f"|format(data.dividendYield
								* 100) }}% {% else %} none {% endif %}
							</td>
						</tr>

						<tr>
							<td>Recent quarter</td>
							<td class="fw-bold text-end" id="recent-quarter">
								{{ data.mostRecentQuarter }}
							</td>
						</tr>

						<tr>
							<td>Quote type</td>
							<td class="fw-bold text-end" id="big-number">
								{{ data.quoteType.lower() }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col">
		<canvas id="myChart"></canvas>
	</div>
</div>

{% endblock %} {% endif %}

<!-- prettier-ignore -->
{% endblock %}
